DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_NAME=pitz_development
DB_NAME_TEST=pitz_test
FRONTEND_URL=http://localhost:5173
RAILS_MAX_THREADS=5
